@charset "utf-8";
/* CSS Document */
.about {
	margin: 30px auto;
}
.about h3 {
	font-family: "微软雅黑";
	font-size: 18px;
	color: #f77211;
	font-weight: normal;
}
.about h3 img {
	vertical-align: middle;
	display: inline-block;
	margin-right: 28px;
}
.about h3 span a {
	font-size: 14px;
	color: #666;
	float: right;
}
.abs {
	width: 1199px;
	height: 336px;
	padding-top: 48px;
}
.abs img {
	float: left;
}
.abs p {
	float: left;
	width: 706px;
	height: 161px;
	text-indent: 2em;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	line-height: 30px;
	margin-top: 82px;
	margin-left: 24px;
}
.abx {
	width: 1199px;
	height: 336px;
	padding-top: 40px;
}
.abx img {
	float: left;
}
.abx p {
	float: left;
	width: 706px;
	text-indent: 2em;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	line-height: 30px;
	margin-top: 50px;
	margin-right: 24px;
}
/*利润分析*/
.lirun {
	height: 800px;
	margin-top: 30px;
}
.lis {
	height: 303px;
}
.lirun h3 {
	font-family: "微软雅黑";
	font-size: 18px;
	color: #f77211;
	font-weight: normal;
}
.lirun h3 img {
	vertical-align: middle;
	display: inline-block;
	margin-right: 28px;
}
.lirun h3 span a {
	font-size: 14px;
	color: #666;
	float: right;
}
.lis h4 {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	margin-top: 37px;
}
.lis .touzi {
	width: 129px;
	height: 28px;
	background-color: #f77211;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFF;
	text-align: center;
	line-height: 28px;
	margin-top: 53px;
	float: left;
}
.lis .mingxi {
	float: left;
	margin-top: 53px;
	margin-left: 17px;
}
.lis .mingxi li {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	line-height: 30px;
}
.lis .mingxi li span {
	padding-left: 67px;
}
.lix .touzi {
	width: 129px;
	height: 28px;
	background-color: #f77211;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFF;
	text-align: center;
	line-height: 28px;
	margin-top: 53px;
	float: left;
}
.lix .liy {
	float: left;
}
.liy {
	width: 1034px;
	height: 35px;
}
.liy .an {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	margin-top: 53px;
	float: left;
	margin-left: 17px;
	width: 1034px;
	line-height: 30px;
}
.liy p {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	margin-left: 17px;
	line-height: 30px;
}
.liy ul li {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	margin-left: 17px;
	line-height: 30px;
}
/*汗蒸常识*/

.hanzheng {
	margin-top: 30px;
}
.hanzheng h3 {
	font-family: "微软雅黑";
	font-size: 18px;
	color: #f77211;
	font-weight: normal;
}
.hanzheng h3 img {
	vertical-align: middle;
	display: inline-block;
	margin-right: 28px;
}
.hanzheng h3 span a {
	font-size: 14px;
	color: #666;
	float: right;
}
.hanzheng .diyi {
	margin-top: 57px;
	width: 1000px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
}
.hanzheng .diyi:hover {
	color: #f77211;
}
.hanzheng .diyi span {
	color: #f77211;
}
.hanzheng .dier {
	margin-top: 57px;
	width: 1000px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
}
.hanzheng .dier span {
	color: #f77211;
}
.hanzheng .dier:hover {
	color: #f77211;
}
.hanzheng .disan {
	margin-top: 57px;
	width: 1000px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
}
.hanzheng .disan span {
	color: #f77211;
}
.hanzheng .disan:hover {
	color: #f77211;
}
.yeshu ul {
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 890px;
}
.yeshu ul li {
	float: left;
	font-family: "微软雅黑";
	font-size: 14px;
	padding: 9px;
	border: 1px solid #666;
}
.yeshu ul li:hover {
	background-color: #f77211;
}
.yeshu ul li:hover a {
	color: #FFF;
}
.yeshu ul li a {
	color: #666;
}
